body{
    padding: 0;
    margin: 0;
    background: greenyellow;
}
.navbar{
    background: black;
}
.nav-link,.navbar-brand{
    color: #30ff76;
    cursor: pointer;
}
.nav-link{
    margin-right: 1em !important;
}
.navbar-collapse{
    justify-content: flex-end;
}